@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

$main-font: 'Carter One', cursive;

html, body {
  font-family: $main-font;
}

h1 {
  color: #de8ab3;
  text-align: center;
}

ul {
  list-style: none;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}